<div data-role="page" data-theme="c">
	<div id="headerContainer" data-role="header" data-position="fixed" data-id="persistentHeader">
		<a data-role="button" data-theme="c" data-icon="back" data-rel="back" data-iconpos="notext"></a>		
		<h3>Acts of Affection</h3>
		<a id="navButton" class="rightHeaderButton" data-role="button" data-icon="check" data-iconpos="right" data-theme="b">Save</a>
	</div>
	<div data-role="content">
		<div>
			<h3 class="currentDateDisplay"></h3>
			<a class="infoIconByDate" onclick="$.mobile.changePage('infoActsOfAffection.html', { role: 'dialog' } );" data-role="button" data-rel="dialog" data-icon="info" data-mini="true" data-inline="true" data-iconpos="notext"></a>
		</div>
		<fieldset id="actOfAffectionList" data-role="controlgroup">
			<input type="checkbox" name="cb1" id="cb1" value="Helping or Assisting" class="affectionList"/><label for="cb1">Helping or Assisting</label>
			<input type="checkbox" name="cb2" id="cb2" value="Fun Together" class="affectionList"/><label for="cb2">Fun Together</label>
			<input type="checkbox" name="cb3" id="cb3" value="Gift" class="affectionList"/><label for="cb3">Gift</label>
			<input type="checkbox" name="cb4" id="cb4" value="Kind Words" class="affectionList"/><label for="cb4">Kind Words</label>
			<input type="checkbox" name="cb5" id="cb5" value="Listening" class="affectionList"/><label for="cb5" >Listening</label>
			<input type="checkbox" name="cb6" id="cb6" value="None" class="affectionList"/><label for="cb6">None</label>
			<input type="checkbox" name="cb7" id="cb7" value="Marital Embrace" class="affectionList"/><label for="cb7" onClick="toggleDynamicNavButton()">Marital Embrace</label>
			<input type="checkbox" name="cb8" id="cb8" value="Praying Together" class="affectionList"/><label for="cb8">Praying Together</label>
			<input type="checkbox" name="cb9" id="cb9" value="Thoughtful Conversation" class="affectionList"/><label for="cb9">Thoughtful Conversation</label>
			<input type="text" id="actsOfAffectionOtherField" placeholder="Other..."/>
		</fieldset>
	</div>
	<script>	
	$(document).ready(function(){
		reCheck();
		window.setTimeout(function(){
			if($('#cb7').attr('checked') == "checked"){
				$('#navButton span').text("Next");
				$('#navButton').buttonMarkup({ icon: "forward" });
			}
		},1);
		
	});

	$('#navButton').click(function(){
		saveData();
		if($('#navButton').text().trim() == "Save")
			$.mobile.changePage('dailyEntryView.html',{ transition: 'slide'});					
		else
			setupMaritalEmbrace();
	});
	
	function reCheck() {
		if(localStorage[localStorage.currentObservationId + "affectionListChecked"] != null) {
			var checked = JSON.parse(localStorage[localStorage.currentObservationId + "affectionListChecked"]);
			for(var i = 0; i < checked.length; i++) {
				$('#'+checked[i]).attr('checked', true);
			}
		}
		
		if(localStorage[localStorage.currentObservationId + "actsOfAffectionOtherField"] != null || 
			typeof localStorage[localStorage.currentObservationId + "actsOfAffectionOtherField"] != "undefined"){
			$('#actsOfAffectionOtherField').val(localStorage[localStorage.currentObservationId + "actsOfAffectionOtherField"]);
		}
	}
	
	function toggleDynamicNavButton(){
		if($('#navButton').text().trim() == "Save"){
			$('#navButton span').text("Next");	
			$('#navButton').buttonMarkup({ icon: "forward" });
		}
		else{
			$('#navButton span').text("Save");	
			$('#navButton').buttonMarkup({ icon: "check" });
		}
	}
	function setupMaritalEmbrace() {
		var i = 0;
		var checked = [];
		$('.affectionList:checked').each(function() {
			checked[i]=$(this).attr('id');
			i++;
		});
		localStorage[localStorage.currentObservationId + "affectionListChecked"] = JSON.stringify(checked);
		$.mobile.changePage('maritalEmbraceView.html',{ transition: 'slide'});
	}
	function saveData() {
		saveActsOfAffectionOtherField();
		var i = 0;
		var checked = [];
		var values = [];
		$('.affectionList:checked').each(function() {
			checked[i]=$(this).attr('id');
			values[i] = $(this).attr('value');
			i++;
		});
		localStorage[localStorage.currentObservationId + "affectionListChecked"] = JSON.stringify(checked);
		localStorage[localStorage.currentObservationId + "affectionList"] = JSON.stringify(values);
		
		localStorage.setItem(localStorage.currentObservationId + "HonoringDone", "true");	
	}
	function saveActsOfAffectionOtherField(){
		localStorage[localStorage.currentObservationId + "actsOfAffectionOtherField"] = $('#actsOfAffectionOtherField').val();		
	}
	</script>
</div>
