<div data-role="page" data-theme="c">
     <div data-role="header" data-position="fixed" data-id="persistentHeader">
          <h3>Calendar View</h3>
          <a class="infoIconByDate" onclick="$.mobile.changePage('infoCalendar.html', { role: 'dialog' } );" data-role="button" data-rel="dialog" data-icon="info" data-mini="true" data-inline="true" data-iconpos="notext"></a>
          <!--TODO: Add "Today" button to take them to current day-->
     </div>
     <div data-role="content">
          <div id="mainCalendarView" style="width: 100%; height: 100%;"></div>
     </div>
     <div data-role="footer" data-position="fixed" data-id="persistentFooter">
          <div data-role="navbar">
               <ul>
                    <li><a href="#" class="ui-btn-active ui-state-persist" data-icon="grid">Calendar View</a></li>
                    <li><a data-icon="gear" onclick="$.mobile.changePage('settingsHomeView.html',{ transition: 'flip'});">Settings</a></li>                   
               </ul>
          </div>
     </div>
     <style>
          div.ui-datepicker{
          width:100%;    
          height:100%;
          }
         
          .cs1{background-image:url('../images/calendarCycleStamps/CS1.png');background-size:100% 100%;background-repeat:no-repeat;}
          .cs2{background-image:url('../images/calendarCycleStamps/CS2.png');background-size:100% 100%;background-repeat:no-repeat;}
          .cs3{background-image:url('../images/calendarCycleStamps/CS3.png');background-size:100% 100%;background-repeat:no-repeat;}
          .cs4{background-image:url('../images/calendarCycleStamps/CS4.png');background-size:100% 100%;background-repeat:no-repeat;}
          .cs5{background-image:url('../images/calendarCycleStamps/CS5.png');background-size:100% 100%;background-repeat:no-repeat;}
          .cs6{background-image:url('../images/calendarCycleStamps/CS6.png');background-size:100% 100%;background-repeat:no-repeat;}
          .cs7{background-image:url('../images/calendarCycleStamps/CS7.png');background-size:100% 100%;background-repeat:no-repeat;}
          .cs8{background-image:url('../images/calendarCycleStamps/CS8.png');background-size:100% 100%;background-repeat:no-repeat;}
         
          td > a.ui-state-default.ui-link{background:none !important;background-size:100% 100%;background-repeat:no-repeat;}    
          a.ui-state-default.ui-link{height:30px;font-weight:bold !important;}
     </style>
     <script>    
          $(window).resize(function() {
          //scaleCalendar();
          });
		  
          $(document).ready(function(){
               $('#mainCalendarView').datepicker( {
                    onSelect: function(passedDate) {                        
                         var date = new moment(passedDate);
                         localStorage.currentEntryDate=date;
                         localStorage.currentObservationId = ("F" + date.format("MMDDYYYY"));                        
                         $.mobile.changePage("dailyEntryView.html", {transition: 'slideup'});

                    },
                    onChangeMonthYear: function(year, month, inst){
                         window.setTimeout(updateCalendarStamps, 10);
                         window.setTimeout(scaleCalendar, 50);
                    }
               });
               //$('.ui-datepicker').css('width', '100%'); //this shouldn't need to be happening, but hacking it for now.
               updateCalendarStamps();
              // setTimeout(scaleCalendar, 350);               
          });

          function scaleCalendar(){       
              // alert(($('#mainCalendarView').width()));
               var newEdge = ($('#mainCalendarView').width())/7;
              // alert(newEdge);
               $('table > tbody > tr > td').each(function(date){
                    $(this).css('width', newEdge);
                    $(this).css('width', 'calc(100% - .2em)');
                    $(this).css('height', newEdge);
                   
                    $(this).children('a').css('width', newEdge);
                    $(this).children('a').css('width', 'calc(100% - .2em)');
                    $(this).children('a').css('height', newEdge);                   
               });    
          }
         
          function updateCalendarStamps(){
               $('.ui-datepicker td').each(function(date){
                    var thisYear = $(this).attr('data-year');
                    var thisMonth = $(this).attr('data-month');
                    var thisDay = $(this).text();              
                    var date = new moment(new Date(thisYear, thisMonth, thisDay));
                    var observationId = ("F" + date.format("MMDDYYYY"));
                    $(this).addClass(localStorage[observationId + "CycleStamp"]);
                    $(this).find(">:first-child").css('background', 'none');
                    $('.ui-datepicker').css('width', '100%');
               });         
          }
		  
			document.addEventListener("deviceready", onDeviceReady, false);

			function onDeviceReady() {
				scaleCalendar();
			}
     </script>    
</div>