<div data-role="page" data-theme="c">
	<div data-role="header" data-position="fixed" data-id="persistentHeader">
		<a data-role="button" data-theme="c" data-icon="back" data-rel="back" data-iconpos="notext"></a>
		<a onclick="saveCycleData();" data-role="button"  data-theme="b" data-icon="forward" data-iconpos="right">Next</a>
		<h3>Cycle Stamp</h3>
	</div>
	<div data-role="content">	
		<div class="dateHeaderContainer">
			<h3 class="currentDateDisplay"></h3>
			<a class="infoIconByDate" onclick="$.mobile.changePage('infoCycleStamp.html', { role: 'dialog' } );" data-role="button" data-rel="dialog" data-icon="info" data-mini="true" data-inline="true" data-iconpos="notext"></a>
		</div>
		<div class="cycleStampContainer" id="cs1"></div>
		<div class="cycleStampContainer" id="cs2"></div>
		<div class="cycleStampContainer" id="cs3"></div>
		<div class="cycleStampContainer" id="cs4"></div>
		<div class="cycleStampContainer" id="cs5"></div>
		<div class="cycleStampContainer" id="cs6"></div>
		<div class="cycleStampContainer" id="cs7"></div>
		<div class="cycleStampContainer" id="cs8"></div>
	</div>
	<script>
		$(document).ready(function(){
			if(localStorage[localStorage.currentObservationId + "CycleStamp"] != null && typeof localStorage[localStorage.currentObservationId + "CycleStamp"] != "undefined"){
				$('#'+localStorage[localStorage.currentObservationId + "CycleStamp"]).addClass('selectedCycleStamp');
			}
		});		
		function saveCycleData() {
			localStorage[localStorage.currentObservationId + "CycleStamp"] = $('.selectedCycleStamp').attr('id');
			$.mobile.changePage('physicalStateView.html',{ transition: 'slide'});
		}
		$('.cycleStampContainer').click(function(){
			$('.cycleStampContainer').removeClass('selectedCycleStamp');
			$(this).addClass('selectedCycleStamp');
		});
	</script>
	<style>
		.cycleStampContainer{		
			width:64px;
			height:64px;	
			float:left;	
			border:1px solid grey;
			margin:0px 10px 10px 0px;
		}
		.selectedCycleStamp{
			box-shadow: 0 0 3px 3px grey;
			-webkit-box-shadow: 0 0 3px 3px grey;
		}
		#cs1{
			background-image:url('../images/CycleStamps/CS1.png');
		}
		#cs2{
			background-image:url('../images/CycleStamps/CS2.png');
		}
		#cs3{
			background-image:url('../images/CycleStamps/CS3.png');
		}
		#cs4{
			background-image:url('../images/CycleStamps/CS4.png');
		}
		#cs5{
			background-image:url('../images/CycleStamps/CS5.png');
		}
		#cs6{
			background-image:url('../images/CycleStamps/CS6.png');
		}
		#cs7{
			background-image:url('../images/CycleStamps/CS7.png');
		}
		#cs8{
			background-image:url('../images/CycleStamps/CS8.png');
		}
	</style>
</div>