<div data-role="page" data-theme="c">
	<div data-role="header" data-position="fixed" data-id="persistentHeader">
		<a onclick="$.mobile.changePage('calendarHomeView.html',{ transition: 'slidedown'});" data-role="button"  data-theme="b" data-icon="check">Done</a>
		<h3>Daily Entry</h3>
		<a onclick="$.mobile.changePage('deleteEntryDialog.html', { role: 'dialog' } );" data-icon="delete" data-transition="pop" style="background:red;">Delete</a>
	</div>
	<div data-role="content">	
		<div class="dateHeaderContainer">
			<h3 class="currentDateDisplay"></h3>
			<a class="infoIconByDate" onclick="$.mobile.changePage('infoDailyEntry.html', { role: 'dialog' } );" data-role="button" data-rel="dialog" data-icon="info" data-mini="true" data-inline="true" data-iconpos="notext"></a>
		</div>
		<ul data-role="listview" data-inset="true">
			<li>
				<img id="physicalImage" src="../images/redX.png" class="ui-li-icon"/>
				<a href="#" onclick="$.mobile.changePage('sensationView.html',{ transition: 'slide'});" style="margin-left:5%;">Physical</a>
			</li>
			<li>
				<img id="relationalImage" src="../images/redX.png" class="ui-li-icon" />
				<a href="#" onclick="$.mobile.changePage('emotionalStateView.html',{ transition: 'slide'});" style="margin-left:5%;">Relational</a>
			</li>
			<li>
				<img id="honoringImage" src="../images/redX.png" class="ui-li-icon" />
				<a href="#" onclick="$.mobile.changePage('actsOfAffectionView.html',{ transition: 'slide'});" style="margin-left:5%;">Honoring</a>
			</li>
		</ul>
		<div style="text-align:center;">
			<a onClick="summarizeData();" data-role="button" data-theme="c">Summary</a>
		</div>			
	</div>	
	
	<script>
	$(document).ready(function(){
		loadDate();
		setCompletionStatusIcons();		
	});

	function summarizeData() {
		var date = new moment(localStorage.currentEntryDate);
		var saveName = ("Observation" + "F" + date.format("MMDDYYYY"));
		var data = {
			"observationId" : saveName,
			
		};
		
		localStorage.setItem(saveName, JSON.stringify(data));
		$.mobile.changePage("summarizeDataView.html", {transition:'slideup'});
	}
	
	function setCompletionStatusIcons(){
		if(localStorage[localStorage.currentObservationId + "HonoringDone"] == "true"){
			$('#honoringImage').attr('src', '../images/greenCheck.png');
		}
		else{
			$('#honoringImage').attr('src', '../images/redX.png');
		}
		
		if(localStorage[localStorage.currentObservationId + "PhysicalDone"] == "true"){
			$('#physicalImage').attr('src', '../images/greenCheck.png');
		}
		else{
			$('#physicalImage').attr('src', '../images/redX.png');
		}
		
		if(localStorage[localStorage.currentObservationId + "RelationalDone"] == "true"){
			$('#relationalImage').attr('src', '../images/greenCheck.png');
		}
		else{
			$('#relationalImage').attr('src', '../images/redX.png');
		}
	}
	</script>
</div>