<div data-role="page">
	<div data-role="header">
		<h3 data-theme="a">Delete?</h3>
	</div>	
	<div data-role="content">
		<span>Are you sure you want to delete this entry?</span>
		<a onclick="deleteDailyEntry();" data-role="button" id="deleteEntryButton" style="background:red;">Delete</a>
		<a data-role="button" id="cancelDeleteButton" data-rel="back">Cancel</a>
	</div>
	<script>
	function deleteDailyEntry() {
	var observationId = localStorage.currentObservationId;
		Object.keys(localStorage) 
			.forEach(function(key){ 
				if (key.substring(0,observationId.length) == observationId) {
					localStorage.removeItem(key); 
				} 
			});
		$.mobile.changePage('calendarHomeView.html',{ transition: 'slidedown'});
	}
</script>
</div>