<div data-role="page" data-theme="c">
	<div data-role="header" data-position="fixed" data-id="persistentHeader">
		<a data-role="button" data-theme="c" data-icon="back" data-rel="back" data-iconpos="notext"></a>
		<a onclick="saveEmotionalState();" data-role="button" data-theme="b" data-icon="forward" data-iconpos="right">Next</a>
		<h3>Emotional State</h3>
	</div>
	<div data-role="content">
		<div>
			<h3 class="currentDateDisplay"></h3>
			<a class="infoIconByDate" onclick="$.mobile.changePage('infoEmotionalState.html', { role: 'dialog' } );" data-role="button" data-rel="dialog" data-icon="info" data-mini="true" data-inline="true" data-iconpos="notext"></a>
		</div>
		<fieldset id="emotionalStateList" data-role="controlgroup">
			<input type="checkbox" name="cb1" id="cb1" value="Angry" class="emotionalList"/><label for="cb1">Angry</label>
			<input type="checkbox" name="cb2" id="cb2" value="Appreciated" class="emotionalList"/><label for="cb2">Appreciated</label>
			<input type="checkbox" name="cb3" id="cb3" value="Content" class="emotionalList"/><label for="cb3">Content</label>
			<input type="checkbox" name="cb4" id="cb4" value="Disappointed" class="emotionalList"/><label for="cb4">Disappointed</label>
			<input type="checkbox" name="cb5" id="cb5" value="Excited" class="emotionalList"/><label for="cb5">Excited</label>
			<input type="checkbox" name="cb6" id="cb6" value="Gloomy" class="emotionalList"/><label for="cb6">Gloomy</label>
			<input type="checkbox" name="cb7" id="cb7" value="Happy" class="emotionalList"/><label for="cb7">Happy</label>
			<input type="checkbox" name="cb8" id="cb8" value="Hopeful" class="emotionalList"/><label for="cb8">Hopeful</label>
			<input type="checkbox" name="cb9" id="cb9" value="Hurt" class="emotionalList"/><label for="cb9">Hurt</label>
			<input type="checkbox" name="cb10" id="cb10" value="Inspired" class="emotionalList"/><label for="cb10">Inspired</label>
			<input type="checkbox" name="cb11" id="cb11" value="Joyous" class="emotionalList"/><label for="cb11">Joyous</label>
			<input type="checkbox" name="cb12" id="cb12" value="Lonely" class="emotionalList"/><label for="cb12">Lonely</label>
			<input type="checkbox" name="cb13" id="cb13" value="Loved" class="emotionalList"/><label for="cb13">Loved</label>
			<input type="text" id="emotionalStateOtherField" placeholder="Other..."/>
		</fieldset>
	</div>
	<script>
	function saveEmotionalState() {
		saveEmotionalStateOtherField();
		var i = 0;
			var checked = [];
			var values = [];
			$('.emotionalList:checked').each(function() {
				checked[i]=$(this).attr('id');
				values[i] = $(this).attr('value');
				i++;
			});
			localStorage[localStorage.currentObservationId + "emotionalListChecked"]= JSON.stringify(checked);
			localStorage[localStorage.currentObservationId + "emotionalList"]= JSON.stringify(values);


		$.mobile.changePage('experienceView.html',{ transition: 'slide'});
	}
	
	$(document).ready(function(){
		reCheck();
	});
	
	function reCheck(){
		if(localStorage[localStorage.currentObservationId + "emotionalListChecked"] != null) {
			var checked = JSON.parse(localStorage[localStorage.currentObservationId + "emotionalListChecked"]);
			for(var i = 0; i < checked.length; i++) {
				$('#'+checked[i]).prop('checked', true);
			}
		}
		
		if(localStorage[localStorage.currentObservationId + "emotionalStateOtherField"] != null || 
			typeof localStorage[localStorage.currentObservationId + "emotionalStateOtherField"] != "undefined"){
			$('#emotionalStateOtherField').val(localStorage[localStorage.currentObservationId + "emotionalStateOtherField"]);
		}
	}
	function saveEmotionalStateOtherField(){
		localStorage[localStorage.currentObservationId + "emotionalStateOtherField"] = $('#emotionalStateOtherField').val();		
	}
	</script>
</div>