<div data-role="page" data-theme="c" id="experienceView">
	<div data-role="header" data-position="fixed" data-id="persistentHeader">
		<a data-role="button" data-theme="c" data-icon="back" data-rel="back" data-iconpos="notext"></a>
		<a onClick="saveExperienceList();" data-role="button" data-theme="b" data-icon="check" data-iconpos="right">Save</a>
		<h3>Experience</h3>
	</div>
	<div data-role="content">
		<div>
			<h3 class="currentDateDisplay"></h3>
			<a class="infoIconByDate" onclick="$.mobile.changePage('infoExperience.html', { role: 'dialog' } );" data-role="button" data-rel="dialog" data-icon="info" data-mini="true" data-inline="true" data-iconpos="notext"></a>
		</div>
		<fieldset id="experienceListContainer" data-role="controlgroup">			
			<input type="checkbox" name="cb1" id="cb1" value="Busy" class="experienceList"/><label for="cb1">Busy</label>
			<input type="checkbox" name="cb2" id="cb2" value="Exciting" class="experienceList"/><label for="cb2">Exciting</label>
			<input type="checkbox" name="cb3" id="cb3" value="Fulfilling" class="experienceList"/><label for="cb3">Fulfilling</label>
			<input type="checkbox" name="cb4" id="cb4" value="Normal" class="experienceList"/><label for="cb4">Normal</label>
			<input type="checkbox" name="cb5" id="cb5" value="Productive" class="experienceList"/><label for="cb5">Productive</label>
			<input type="checkbox" name="cb6" id="cb6" value="Relaxing Day" class="experienceList"/><label for="cb6">Relaxing Day</label>
			<input type="checkbox" name="cb7" id="cb7" value="Received Bad News" class="experienceList"/><label for="cb7">Received Bad News</label>
			<input type="checkbox" name="cb8" id="cb8" value="Received Good News" class="experienceList"/><label for="cb8">Received Good News</label>
			<input type="checkbox" name="cb9" id="cb9" value="Renewing" class="experienceList"/><label for="cb9">Renewing</label>
			<input type="checkbox" name="cb10" id="cb10" value="Stressful" class="experienceList"/><label for="cb10">Stressful</label>
			<input type="text" id="experienceOtherField" placeholder="Other..."/>
		</fieldset>
	</div>
	<script>
		$(document).ready(function(){
		window.setTimeout(function(){reCheck()}, 350);		
		});
		
		function saveExperienceList() {
			saveExperienceOtherField();
			var i = 0;
			var checked = [];
			var values = [];
			$('.experienceList:checked').each(function() {
				checked[i]=$(this).attr('id');
				values[i] = $(this).attr('value');
				i++;
			});
			localStorage[localStorage.currentObservationId + "experienceListChecked"] = JSON.stringify(checked);
			localStorage[localStorage.currentObservationId + "experienceList"] = JSON.stringify(values);
			
			localStorage.setItem(localStorage.currentObservationId + "RelationalDone", "true");
			$.mobile.changePage('dailyEntryView.html',{ transition: 'slide'}); //Return to the entry page
		}

		function reCheck(){
			if(localStorage[localStorage.currentObservationId + "experienceListChecked"] != null) {
				var checked = JSON.parse(localStorage[localStorage.currentObservationId + "experienceListChecked"]);
				for(var i = 0;i<checked.length;i++) {
					$('#'+checked[i]).prop('checked', true).checkboxradio("refresh");
				}
			}
			
			if(localStorage[localStorage.currentObservationId + "experienceOtherField"] != null || 
			typeof localStorage[localStorage.currentObservationId + "experienceOtherField"] != "undefined"){
			$('#experienceOtherField').val(localStorage[localStorage.currentObservationId + "experienceOtherField"]);
			}
		}
		function saveExperienceOtherField(){
			localStorage[localStorage.currentObservationId + "experienceOtherField"] = $('#experienceOtherField').val();		
		}
	</script>
</div>