<div data-role="page" data-rel="dialog">
	<div data-role="header">
		<h3 data-theme="a" class="infoHeader">Acts of Affection Help</h3>
	</div>	
	<div data-role="content">
		Take time to think about how you
honored your significant other for the current day and select the value(s) that best describes
the way(s) you showed your spouse affection. Below are the four phases of a cycle and the
physical experience a woman will go through during a full cycle.</BR></BR><B>Menstrual
Phase (Reflection):</B></BR>The phase of the menstrual cycle when there is bleeding is
called menstruation or having a period. It is during this phase that the uterine lining is
breaking down and being shed. A woman’s resting temperature drops during
menstruation. She might feel bloated, tired and cramping as the uterus is contracting to
help expel the blood. Bleeding time varies in women but usually lasts around five
days.</BR></BR><B>Follicular Phase (Energy):</B></BR>During this phase, the pituitary
gland is making FSH, which causes the follicles (a sac that contains an egg) in the ovary to
make estrogen and then to move toward the surface of the ovary. Estrogen causes the
lining of the uterus to develop new blood passageways and spongy tissues. These are
called dry days because there is little or no mucus discharge. Her resting body temperature
is low. The length of this phase also varies in women, depending on how long it takes the
egg to mature.</BR></BR><B>Ovulation Phase (Creative):</B></BR>The ovulation phase
is when the mature egg is released from the ovary. The ovaries are making enough
estrogen so that the pituitary gland slows down its production of FSH and releases a spurt
of LH. The LH causes the ovary to release an egg. Progesterone causes a slight rise in the
resting (basal body) temperature after ovulation. During this phase, there is the greatest
amount of mucus discharge. This mucus discharge begins a few days before ovulation due
to the increase of estrogen. The cervical mucus during most of the cycle is dense and thick.
This forms a barrier to sperm so they cannot pass through. However, due to the rise of the
estrogen hormone near the time of ovulation, the mucus changes and becomes clear and slippery to permit the passage of sperm. The last day that clear, stretchy or slippery mucus
is present is called peak day. Then the estrogen quickly falls, and LH surges, causing
ovulation to take place.</BR></BR><B>Luteal Phase (Sensitive):</B></BR>Progesterone
is the dominant hormone after ovulation has taken place. A woman’s body builds up a thick
uterine lining. After ovulation, a second type of cervical mucus occurs. Most of it stays in the
cervix as a “mucus plug” until the end of the cycle or until birth, but there may be a small
amount of milky white mucus. Her breasts may feel sore, heavy or more tender. If
intercourse and fertilization have taken place, the uterine lining will provide nutrients to
nourish the new life and her temperature will stay elevated throughout the
pregnancy.</BR></BR>If fertilization does not happen, a few days before menstruation
begins, progesterone levels fall and estrogen levels begin to rise again and the lining of the
uterus starts to break down and the woman’s temperature drops. Thus, the cycle starts all
over again.</BR>

	</div>
</div>	