<div data-role="page" data-rel="dialog">
	<div data-role="header">
		<h3 data-theme="a" class="infoHeader">Calendar Help</h3>
	</div>	
	<div data-role="content">
Each cycle has its own pattern, so a woman’s chart will show slight variations from cycle to
cycle. The woman should be aware throughout the day of the sensation of wetness or
dryness at the vaginal opening, and of the presence of any visible mucus secretion. The
most fertile sign that was either seen or felt, should be charted at the end of the woman’s
day.</BR><BR><B>About the Ovulation Cycle:</B></BR>1. The Ovulation Method has no
harmful side effects.</BR>2. The Ovulation Method is simple to learn and easy to use. It
does not distort the sexual act or involve distasteful procedures. The spouses do nothing to
their bodies but simply plan their relations according to the fertile and infertile days of the
woman’s cycle.</BR>3. When used to avoid pregnancy, the Ovulation Method is at least as
effective (98-99%)
as any contraceptive but without the physical and psychological side
effects.</BR>4. The Ovulation Method costs nothing more than the modest price of simple
learning materials.</BR>5. With the Ovulation Method, the woman is able to know herself,
to learn and to appreciate the process of her own body.</BR>6. Using the Ovulation
Method enables the woman to accept, control and to respect her fertility from the beginning
to the end of her reproductive years.</BR>7. The Ovulation Method fosters communication
and mutual respect between husband and wife. The two cooperate in planning their family,
taking into account each month of the woman's cycle.</BR>8. When the couple must
postpone a pregnancy, the very abstinences that the Ovulation Method requires can help
strengthen the marriage. The sacrifice involved is proof of the respect that the husband has
for his wife. She in turn appreciates his willingness to sacrifice for her good of the marriage, and her love for him increases.</BR>9. The love of the couple is renewed after a
period of abstinence with the Ovulation Method. Interest is kept high, as well as
appreciation for each other.</BR>10. The attitude of spouses who use the Ovulation
Method is: “Our fertility is a natural gift and a normal function of the human body.” This helps
to bring peace and greater intimacy to their relationship.</BR>11. The Ovulation Method
can be used to achieve as well as to postpone a pregnancy. It is immediately reversible
when the couple changes their decision to achieve or postpone pregnancy.</BR>12. The
Ovulation Method is acceptable to people of all cultures, education and social levels and
religions. The couple can use it with a clear conscience. This method, when used
generously and not for selfish or materialistic reasons, respects life and the privilege of
transmitting life
	</div>
</div>	