<div data-role="page" data-rel="dialog">
	<div data-role="header">
		<h3 data-theme="a" class="infoHeader">Mucus Stamp Help</h3>
	</div>	
	<div data-role="content">
		These are examples of mucus types a woman may observe during her reproductive life. 
		At the end of your day, choose a stamp that most closely resembles the mucus seen or felt throughout the day.
		<br /><br />
		If you would like to add notes specific to your mucus discharge, click the '+' icon. 
		This information will be available to view on your summary screen for that day's entry. 
	</div>
</div>	