<div data-role="page" id="dailyEntryInfo" data-rel="dialog">
	<div data-role="header">
		<h3 data-theme="a" class="infoHeader">Daily Entry Help</h3>
	</div>	
	<div data-role="content">
		This screen displays the three sections that will be completed on a nightly basis.
		A red 'X' will appear until the section is completed. After completing the section, a green checkmark will appear.
	</div>
</div>	