<div data-role="page" data-rel="dialog">
	<div data-role="header">
		<h3 data-theme="a" class="infoHeader">Emotional State Help</h3>
	</div>	
	<div data-role="content">
		The couple should record each time they have sexual relations before the fertile phase, and at least the first time they have relations after the peak day.
	</div>
</div>	