<div data-role="page" data-rel="dialog">
	<div data-role="header">
		<h3 data-theme="a" class="infoHeader">Sensation Help</h3>
	</div>	
	<div data-role="content">
		Indicate the sensation that you felt throughout the day. 
		Remember, sensation is just as important to consider when determining the cycle stamp for each day. 
		The couple should chart the most fertile sign that was either felt and/or seen at any given time during the day.
	</div>
</div>	