<div data-role="page" data-rel="dialog">
	<div data-role="header">
		<h3 data-theme="a" class="infoHeader">Experience Help</h3>
	</div>	
	<div data-role="content">
		Please select the value(s) that most closely describes
		the type of day you had.
	</div>
</div>	