<div data-role="page" data-rel="dialog">
	<div data-role="header">
		<h3 data-theme="a" class="infoHeader">Physical State Help</h3>
	</div>	
	<div data-role="content">
		Please select the value(s) that most closely relates to how you felt and what you observed physically, throughout the day.
	</div>
</div>	