<div data-role="page" data-rel="dialog">
	<div data-role="header">
		<h3 data-theme="a" class="infoHeader">Summarize Help</h3>
	</div>	
	<div data-role="content">
		This screen summarizes the information entered from
		the day. It also provides you the opportunity to edit any information , if needed.
	</div>
</div>	