<div data-role="page" id="dailyEntryInfo" data-rel="dialog">
	<div data-role="header">
		<h3 data-theme="a" class="infoHeader">Cycle Stamp Help</h3>
	</div>	
	<div data-role="content">
		Red - Day of menstruation or bleeding. Chart a red stamp. If pregnancy is to be postponed, it is recommended that marital relations be avoided during the days of menstruation. Menstrual bleeding can obscure cervical mucus in a short cycle. 
		Red Dots - These are the days when the woman observes spotty blood, typically towards the end of menstruation.
		Brown - Dry Day: No mucus is seen, and no slippery, wet sensation is felt throughout the day. Chart a brown stamp. A dry day is an infertile day when it occurs in the early days of the cycle before the fertile phase has begun. 

		If pregnancy is to be postponed, marital relations are open to the couple only in the evening of the early dry days so that dryness can be confirmed throughout the day. Marital relations on alternate evenings are also recommended so that seminal fluid and vaginal secretion do not obscure the recognition of cervical mucus. 

		White Stamps with Baby - Mucus days before the Peak: Mucus is seen, or a slippery, wet sensation is felt. Chart a white baby stamp and the mucus stamp that most closely resembles the mucus observed. 

		Pregnancy may result from marital relations or even from genital contact on any day before the Peak when mucus is seen, a slippery, wet sensation is felt, and on the 3 full days which follow.

		If pregnancy is to be achieved,  the couple should make certain that marital relations occur when clear, stretchy mucus is accompanied by a slippery, wet sensation.

		White Stamps with Baby and Triangle -  The Peak day: This is the last day that the mucus is stretchy, or feels wet and slippery. The Peak is the indication that ovulation is near or has just taken place. It is identified the day after it occurs when a change to sticky, non-elastic mucus, or to dryness is observed. Chart a Peak baby stamp. 

		Days 1-2-3 after the Peak
		Yellow Stamps with Baby - Mucus day after the Peak: Mucus is non-elastic, thick, sticky, or creamy. No slippery, wet sensation is felt throughout the day. Chart a yellow baby stamp. 
		Brown Stamps with Baby - Dry day after the Peak: No mucus is seen, and no slippery, wet sensation is felt throughout the day. Chart a brown baby stamp. 

		Day 4 after the Peak until the following menstruation
		These are the late infertile days of the cycle. Marital relations are open to the couple anytime until the beginning of menstruation. Menstruation usually occurs within 10 to 16 days after the Peak.

		Yellow - Mucus day after the Peak: Mucus is non-elastic, thick, sticky, or creamy. No slippery, wet sensation is felt throughout the day. Chart a yellow stamp. 

		Brown - Dry day after the Peak: No mucus is seen, and no slippery, wet sensation is felt throughout the day. Chart a brown stamp.
	</div>
</div>	