<div data-role="page" data-theme="c">
	<div data-role="header" data-position="fixed">
			<a data-role="button" data-theme="c" data-icon="back" data-rel="back" data-iconpos="notext"></a>
			<a onclick="saveEmbrace();" data-role="button" data-theme="b" data-icon="check" data-iconpos="right">Save</a>
		<h3>Acts of Affection</h3>
	</div>
	<div data-role="content">
		<div>
			<h3 class="currentDateDisplay"></h3>
			<a class="infoIconByDate" onclick="$.mobile.changePage('infoMaritalEmbrace.html', { role: 'dialog' } );" data-role="button" data-rel="dialog" data-icon="info" data-mini="true" data-inline="true" data-iconpos="notext"></a>
		</div>
		<fieldset data-role="controlgroup">
			<h3>Time of Marital Embrace:</h3>
			<input type="radio" class="timeOfEmbraceRadio" name="timeOfEmbraceRadio" id="rb1" value="stuff" /><label for="rb1">Morning</label>
			<input type="radio" class="timeOfEmbraceRadio" name="timeOfEmbraceRadio" id="rb2" value="stuff" /><label for="rb2">Night</label>
		</fieldset>
		<fieldset id="intentOfEmbraceList" data-role="controlgroup">
			<h3>Intent of Marital Embrace:</h3>
			<input type="checkbox" name="cb1" id="cb1" value="Aroused Mentally/Physically" class="embraceList"/><label for="cb1">Aroused Mentally/Physically</label>
			<input type="checkbox" name="cb2" id="cb2" value="Comfort" class="embraceList"/><label for="cb2">Comfort</label>
			<input type="checkbox" name="cb3" id="cb3" value="Conceive a Child" class="embraceList"/><label for="cb3">Conceive a Child</label>
			<input type="checkbox" name="cb4" id="cb4" value="Express Love" class="embraceList"/><label for="cb4">Express Love</label>
			<input type="checkbox" name="cb5" id="cb5" value="Feeling Playful" class="embraceList"/><label for="cb5" >Feeling Playful</label>
			<input type="checkbox" name="cb6" id="cb6" value="Reconnect" class="embraceList"/><label for="cb6">Reconnect</label>
			<input type="checkbox" name="cb7" id="cb7" value="Relieve Stress" class="embraceList"/><label for="cb7">Relieve Stress</label>
			<input type="text" id="maritalEmbraceOtherField" placeholder="Other..."/>
		</fieldset>
	</div>
	<script>
	$(document).ready(function(){
		window.setTimeout(function(){reCheck()}, 350);
	});
	function saveEmbrace() {
		saveTimeOfEmbrace();
		saveMaritalEmbraceOtherField();
		var i = 0;
		var checked = [];
		var values = [];
		$('.embraceList:checked').each(function() {
			checked[i] = $(this).attr('id');
			values[i] = $(this).attr('value');
			i++;
		});
		localStorage[localStorage.currentObservationId + "embraceListChecked"] = JSON.stringify(checked);
		localStorage[localStorage.currentObservationId + "embraceList"] = JSON.stringify(values);
		localStorage.setItem(localStorage.currentObservationId + "HonoringDone", "true");		
		$.mobile.changePage('dailyEntryView.html',{ transition: 'slide'});
	}	
	function reCheck(){
		if(localStorage[localStorage.currentObservationId + "embraceListChecked"] != null) {
			var checked = JSON.parse(localStorage[localStorage.currentObservationId + "embraceListChecked"]);
			for(var i = 0; i < checked.length; i++) {
				$('#'+checked[i]).prop('checked', true).checkboxradio("refresh");
			}
		}
		$('#' + localStorage[localStorage.currentObservationId + "timeOfMaritalEmbrace"]).prop('checked', true).checkboxradio("refresh");
		
		if(localStorage[localStorage.currentObservationId + "maritalEmbraceOtherField"] != null || 
			typeof localStorage[localStorage.currentObservationId + "maritalEmbraceOtherField"] != "undefined"){
			$('#maritalEmbraceOtherField').val(localStorage[localStorage.currentObservationId + "maritalEmbraceOtherField"]);
		}
	}
	function saveTimeOfEmbrace(){
		localStorage[localStorage.currentObservationId + "timeOfMaritalEmbrace"] = $('.timeOfEmbraceRadio:checked').attr('id');
	}
	function saveMaritalEmbraceOtherField(){
			localStorage[localStorage.currentObservationId + "maritalEmbraceOtherField"] = $('#maritalEmbraceOtherField').val();		
		}
	</script>
</div>