<div data-role="page" data-theme="c">
	<div data-role="header" data-position="fixed" data-id="persistentHeader">
		<a data-role="button" data-theme="c" data-icon="back" data-rel="back" data-iconpos="notext"></a>
		<a onclick="saveMucusData();" data-role="button" data-theme="b" data-icon="forward" data-iconpos="right">Next</a>
		<h3>Mucus Stamp</h3>
	</div>
	<div data-role="content">
		<div class="dateHeaderContainer" style="display:block;margin-bottom:10px;">
			<h3 class="currentDateDisplay"></h3>
			<a class="infoIconByDate" onclick="$.mobile.changePage('infoMucusStamp.html', { role: 'dialog' } );" data-role="button" data-rel="dialog" data-icon="info" data-mini="true" data-inline="true" data-iconpos="notext"></a>
		</div>
		<div class="mucusStampContainer" id="ms1"></div>
		<div class="mucusStampContainer" id="ms2"></div>
		<div class="mucusStampContainer" id="ms3"></div>
		<div class="mucusStampContainer" id="ms4"></div>
		<div class="mucusStampContainer" id="ms5"></div>
		<div class="mucusStampContainer" id="ms6"></div>
		<div class="mucusStampContainer" id="ms7"></div>
		<div class="mucusStampContainer" id="ms8"></div>
		<div class="mucusStampContainer" id="ms9"></div>
		<div class="mucusStampContainer" id="ms10"></div>
		<div class="mucusStampContainer" id="ms11"></div>
		<div class="mucusStampContainer" id="ms12"></div>
		<div class="mucusStampContainer" id="ms13"></div>
		<div class="mucusStampContainer" id="ms14"></div>
		<div class="mucusStampContainer" id="ms15"></div>
	</div>
	<script>
		$(document).ready(function(){
			if(localStorage[localStorage.currentObservationId + "MucusStamp"] != null && typeof localStorage[localStorage.currentObservationId + "CycleStamp"] != "undefined"){
				$('#'+localStorage[localStorage.currentObservationId + "MucusStamp"]).addClass('selectedMucusStamp');
			}
			loadDate();
		});
	
		function saveMucusData() {
			localStorage[localStorage.currentObservationId + "MucusStamp"] = $('.selectedMucusStamp').attr('id');
			$.mobile.changePage('cycleStampView.html',{ transition: 'slide'});
		}
		
		$('.mucusStampContainer').click(function(){
			$('.mucusStampContainer').removeClass('selectedMucusStamp');
			$(this).addClass('selectedMucusStamp');
		});		
	</script>
	<style>
	.mucusStampContainer{		
		width:61px;
		height:105px;	
		float:left;	
		border:1px solid grey;
		margin:0px 10px 10px 0px;
	}
	.selectedMucusStamp{
		box-shadow: 0 0 3px 3px grey;
		-webkit-box-shadow: 0 0 3px 3px grey;
	}
	#ms1{
		background-image:url('../images/MucusStamps/MS1.png');
	}                                               
	#ms2{                                           
		background-image:url('../images/MucusStamps/MS2.png');
	}                                              
	#ms3{                                          
		background-image:url('../images/MucusStamps/MS3.png');
	}                                              
	#ms4{                                          
		background-image:url('../images/MucusStamps/MS4.png');
	}                                              
	#ms5{                                          
		background-image:url('../images/MucusStamps/MS5.png');
	}                                               
	#ms6{                                           
		background-image:url('../images/MucusStamps/MS6.png');
	}                                              
	#ms7{                                          
		background-image:url('../images/MucusStamps/MS7.png');
	}                                               
	#ms8{                                           
		background-image:url('../images/MucusStamps/MS8.png');
	}                                               
	#ms9{                                           
		background-image:url('../images/MucusStamps/MS9.png');
	}                                               
	#ms10{                                          
		background-image:url('../images/MucusStamps/MS10.png');
	}                                               
	#ms11{                                          
		background-image:url('../images/MucusStamps/MS11.png');
	}                                               
	#ms12{                                          
		background-image:url('../images/MucusStamps/MS12.png');
	}                                               
	#ms13{                                          
		background-image:url('../images/MucusStamps/MS13.png');
	}                                               
	#ms14{                                          
		background-image:url('../images/MucusStamps/MS14.png');
	}                                               
	#ms15{                                          
		background-image:url('../images/MucusStamps/MS15.png');
	}
	</style>
</div>