<div data-role="page" data-theme="c">
	<div data-role="header" data-position="fixed" data-id="persistentHeader">
		<a data-role="button" data-theme="c" data-icon="back" data-rel="back" data-iconpos="notext"></a>
		<a onClick="savePhysicalState();" data-role="button" data-theme="b" data-icon="check" data-iconpos="right">Save</a>
		<h3>Physical State</h3>
	</div>
	<div data-role="content">
		<div class="dateHeaderContainer">
			<h3 class="currentDateDisplay"></h3>
			<a class="infoIconByDate" onclick="$.mobile.changePage('infoPhysicalState.html', { role: 'dialog' } );" data-role="button" data-rel="dialog" data-icon="info" data-mini="true" data-inline="true" data-iconpos="notext"></a>
		</div>
		<fieldset id="physicalStateList" data-role="controlgroup">
			<input type="checkbox" name="cb1" id="cb1" value="Breaking Out" class="physicalStateList"/><label for="cb1">Breaking Out</label>
			<input type="checkbox" name="cb2" id="cb2" value="Cramps" class="physicalStateList"/><label for="cb2">Cramps</label>
			<input type="checkbox" name="cb3" id="cb3" value="Headache" class="physicalStateList"/><label for="cb3">Headache</label>
			<input type="checkbox" name="cb4" id="cb4" value="Energetic" class="physicalStateList"/><label for="cb4">Energetic</label>
			<input type="checkbox" name="cb5" id="cb5" value="Nausea" class="physicalStateList"/><label for="cb5">Nausea</label>
			<input type="checkbox" name="cb6" id="cb6" value="None" class="physicalStateList"/><label for="cb6">None</label>
			<input type="checkbox" name="cb7" id="cb7" value="Odor" class="physicalStateList"/><label for="cb7">Odor</label>
			<input type="checkbox" name="cb8" id="cb8" value="Relaxed" class="physicalStateList"/><label for="cb8">Relaxed</label>
			<input type="checkbox" name="cb9" id="cb9" value="Tender Breasts" class="physicalStateList"/><label for="cb9">Tender Breasts</label>	
			<input type="text" id="physicalStateOtherField" placeholder="Other..."/>
		</fieldset>		
	</div>
	<script>
	function savePhysicalState() {
		savePhysicalStateOtherField();
		var i = 0;
		var checked = [];
		var values = [];
		$('.physicalStateList:checked').each(function() {
			checked[i]=$(this).attr('id');
			values[i] = $(this).attr('value');
			i++;
		});
		localStorage[localStorage.currentObservationId + "physicalStateListChecked"]= JSON.stringify(checked);
		localStorage[localStorage.currentObservationId + "physicalStateList"] = JSON.stringify(values);

		localStorage.setItem(localStorage.currentObservationId + "PhysicalDone", "true");
		$.mobile.changePage('dailyEntryView.html',{ transition: 'slide'});
	}
	
	$(document).ready(function(){
		reCheck();
	});
	
	function reCheck(){
		if(localStorage[localStorage.currentObservationId + "physicalStateListChecked"] != null) {
			var checked = JSON.parse(localStorage[localStorage.currentObservationId + "physicalStateListChecked"]);
			for(var i = 0; i < checked.length; i++) {
				$('#'+checked[i]).prop('checked', true);
			}
		}
		
		if(localStorage[localStorage.currentObservationId + "physicalStateOtherField"] != null || 
			typeof localStorage[localStorage.currentObservationId + "physicalStateOtherField"] != "undefined"){
			$('#physicalStateOtherField').val(localStorage[localStorage.currentObservationId + "physicalStateOtherField"]);
		}
	}
	function savePhysicalStateOtherField(){
		localStorage[localStorage.currentObservationId + "physicalStateOtherField"] = $('#physicalStateOtherField').val();		
	}
	</script>
</div>