<div data-role="page" data-theme="c">
	<div data-role="header" data-position="fixed" data-id="persistentHeader">
		<a data-role="button" data-theme="c" data-icon="back" data-rel="back" data-iconpos="notext"></a>
		<a onclick="saveSensation();" data-role="button" data-theme="b" data-icon="forward" data-iconpos="right">Next</a>
		<h3>Sensation</h3>
	</div>
	<div data-role="content">
		<div class="dateHeaderContainer" style="padding-bottom:15px;">
			<h3 class="currentDateDisplay"></h3>
			<a class="infoIconByDate" onclick="$.mobile.changePage('infoSensation.html', { role: 'dialog' } );" data-role="button" data-rel="dialog" data-icon="info" data-mini="true" data-inline="true" data-iconpos="notext"></a>
		</div>
		<fieldset id="sensationList" data-role="controlgroup">
			<input type="checkbox" name="cb1" id="cb1" value="Dry" class="sensationList"/><label for="cb1">Dry</label>
			<input type="checkbox" name="cb2" id="cb2" value="Moist" class="sensationList"/><label for="cb2">Moist</label>
			<input type="checkbox" name="cb3" id="cb3" value="Slippery" class="sensationList"/><label for="cb3">Slippery</label>
			<input type="checkbox" name="cb4" id="cb4" value="Wet" class="sensationList"/><label for="cb4">Wet</label>
			<input type="checkbox" name="cb5" id="cb5" value="Very Wet" class="sensationList"/><label for="cb5">Very Wet</label>
			<input type="text" id="sensationNotesField" placeholder="Notes..."/>
		</fieldset>
	</div>	
	<script>
	function saveSensation() {
		saveSensationNotesField();
		var i = 0;
		var checked = [];
		var values = [];
		$('.sensationList:checked').each(function() {
			checked[i]=$(this).attr('id');
			values[i] = $(this).attr('value');
			i++;
		});
		localStorage[localStorage.currentObservationId + "sensationListChecked"]= JSON.stringify(checked);
		localStorage[localStorage.currentObservationId + "sensationList"] = JSON.stringify(values);
		$.mobile.changePage('mucusStampView.html',{ transition: 'slide'});
	}
	
	$(document).ready(function(){
		reCheck();
	});
	
	function reCheck(){
		if(localStorage[localStorage.currentObservationId + "sensationListChecked"] != null) {
			var checked = JSON.parse(localStorage[localStorage.currentObservationId + "sensationListChecked"]);
			for(var i = 0; i < checked.length; i++) {
				$('#'+checked[i]).prop('checked', true);
			}
		}
		
		if(localStorage[localStorage.currentObservationId + "sensationNotesField"] != null || 
			typeof localStorage[localStorage.currentObservationId + "sensationNotesField"] != "undefined"){
			$('#sensationNotesField').val(localStorage[localStorage.currentObservationId + "sensationNotesField"]);
		}
	}
	function saveSensationNotesField(){
		localStorage[localStorage.currentObservationId + "sensationNotesField"] = $('#sensationNotesField').val();		
	}
	</script>
</div>