<div data-role="page" data-theme="c">
	<div data-role="header" data-position="fixed" data-id="persistentHeader">
		<h3>Settings</h3>
	</div>
	<div data-role="content">
		<ul data-role="listview" data-inset="true">
			<li><a onclick="$.mobile.changePage('settingsBirthDateView.html',{ transition: 'slide'});">Birth Date</a></li>
			<li><a onclick="$.mobile.changePage('settingsChartingIntentionsView.html',{ transition: 'slide'});">Charting Intentions</a></li>
			<li><a onclick="$.mobile.changePage('settingsEmailView.html',{ transition: 'slide'});">Email</a></li>
			<li><a onclick="$.mobile.changePage('settingsExportView.html',{ transition: 'slide'});">Export</a></li>
			<li><a onclick="$.mobile.changePage('settingsMaritalStatusView.html',{ transition: 'slide'});">Marital Status</a></li>
			<li><a onclick="$.mobile.changePage('settingsNotificationSettingsView.html',{ transition: 'slide'});">Notification Settings</a></li>
			<li><a onclick="$.mobile.changePage('settingsReligionView.html',{ transition: 'slide'});">Religion</a></li>
		</ul>
	</div>
	<div data-role="footer" data-position="fixed" data-id="persistentFooter">
		<div data-role="navbar">
			<ul>
				<li><a data-icon="grid" onclick="$.mobile.changePage('calendarHomeView.html',{ transition: 'flip'});">Calendar View</a></li>
				<li><a href="#" class="ui-btn-active ui-state-persist" data-icon="gear">Settings</a></li>				
			</ul>
		</div>
	</div>
</div>