<div data-role="page" data-theme="c">
	<div data-role="header" data-position="fixed" data-id="persistentHeader">
		<a data-role="button" data-theme="c" data-icon="back" data-rel="back" data-iconpos="notext"></a>
		<h3>Notification Settings</h3>
		<a data-role="button" data-theme="b" data-icon="check" data-rel="back">Save</a>
	</div>
	<div data-role="content">
		Requirements will need to be discussed for this.
	</div>
	<div data-role="footer" data-position="fixed" data-id="persistentFooter">
		<div data-role="navbar">
			<ul>
				<li><a href="calendarHomeView.html" data-icon="grid">Calendar View</a></li>
				<li><a href="#" class="ui-btn-active ui-state-persist" data-icon="gear">Settings</a></li>				
			</ul>
		</div>
	</div>
</div>