<div data-role="page" data-theme="c">
	<div data-role="header" data-position="fixed" data-id="persistentHeader">
		<a data-role="button" data-theme="c" data-icon="back" data-rel="back" data-iconpos="notext"></a>
		<h3>Title</h3>
	</div>
	<div data-role="content">
		Content here
	</div>
	<div data-role="footer" data-position="fixed" data-id="persistentFooter">
		<div data-role="navbar">
			<ul>
				<li><a href="calendarHomeView.html" data-icon="grid">Calendar View</a></li>
				<li><a href="settingsHomeView.html" data-icon="gear">Settings</a></li>			
			</ul>
		</div>
	</div>
</div>