<div data-role="page" data-theme="c">
	<div data-role="header" data-position="fixed" data-id="persistentHeader">
		<a data-role="button" data-theme="c" data-icon="back" data-rel="back" data-iconpos="notext"></a>
		<h3>Export</h3>		
	</div>
	<div data-role="content">
		<a href="#" data-role="button">Email Data to Trainer</a>
		<a href="#" data-role="button">Email a Backup</a>
	</div>
	<div data-role="footer" data-position="fixed" data-id="persistentFooter">
		<div data-role="navbar">
			<ul>
				<li><a href="calendarHomeView.html" data-icon="grid">Calendar View</a></li>
				<li><a href="#" class="ui-btn-active ui-state-persist" data-icon="gear">Settings</a></li>				
			</ul>
		</div>
	</div>
</div>