<div data-role="page" data-theme="c">
	<div data-role="header" data-position="fixed" data-id="persistentHeader">
		<a data-role="button" data-theme="c" data-icon="back" data-rel="back" data-iconpos="notext"></a>
		<h3>Birth Date</h3>
		<a data-role="button" data-theme="b" data-icon="check" data-rel="back" onclick="updateDate($('#birthDatePicker').val());">Save</a>
	</div>
	<div data-role="content">
		<b>Birthday: </b><span id="savedBirthDateDisplay"></span>
		<input type="date" id="birthDatePicker" autofocus="autofocus" />
	</div>
	<div data-role="footer" data-position="fixed" data-id="persistentFooter">
		<div data-role="navbar">
			<ul>
				<li><a href="calendarHomeView.html" data-icon="grid">Calendar View</a></li>
				<li><a href="#" class="ui-btn-active ui-state-persist" data-icon="gear">Settings</a></li>				
			</ul>
		</div>
	</div>
	<script>
		$(document).ready(function(){
			if(localStorage.SavedBirthDate == null || typeof localStorage.SavedBirthDate == "undefined"){
				$('#savedBirthDateDisplay').text('No Saved Birth Date');
			}
			else{
				$('#savedBirthDateDisplay').text(localStorage.SavedBirthDate);
				$('#birthDatePicker').val(localStorage.SavedBirthDate);
			}
		});
		
		function updateDate(newDate){
			localStorage.SavedBirthDate=newDate;
			$('#savedBirthDateDisplay').text(localStorage.SavedBirthDate);
		}
	</script>
</div>