<div data-role="page" data-theme="c">
	<div data-role="header" data-position="fixed" data-id="persistentHeader">
		<a data-role="button" data-theme="c" data-icon="back" data-rel="back" data-iconpos="notext"></a>
		<h3>Charting Intentions</h3>
		<a onClick="saveIntentionData();" data-role="button" data-theme="b" data-icon="check" data-rel="back">Save</a>
	</div>
	<div data-role="content">
		<fieldset id="chartingIntentionsList" data-role="controlgroup">
			<input type="checkbox" name="cb1" id="cb1" value="stuff" class="chartingIntentionsList"/><label for="cb1">Avoid Pregnancy</label>
			<input type="checkbox" name="cb2" id="cb2" value="stuff" class="chartingIntentionsList"/><label for="cb2">Achieve Pregnancy</label>
			<input type="checkbox" name="cb3" id="cb3" value="stuff" class="chartingIntentionsList"/><label for="cb3">To be in tune with body</label>
			<input type="text" name="cb4" id="cb4" placeholder="Other..." />
		</fieldset>
	</div>
	<div data-role="footer" data-position="fixed" data-id="persistentFooter">
		<div data-role="navbar">
			<ul>
				<li><a href="calendarHomeView.html" data-icon="grid">Calendar View</a></li>
				<li><a href="#" class="ui-btn-active ui-state-persist" data-icon="gear">Settings</a></li>				
			</ul>
		</div>
	</div>
	<script>
	$(document).ready(function() {
		reCheckIntention();
	});
	function saveIntentionData() {
		var i = 0;
		var checked = [];
		$('.chartingIntentionsList:checked').each(function() {
			checked[i]=$(this).attr('id');
			i++;
		});
		localStorage.setItem("ChartingIntentionsChecked", JSON.stringify(checked));
		var placeHolderValue = $('#cb4').val();
		localStorage.setItem("ChartingIntentionsOther", placeHolderValue);
	
	}
	function reCheckIntention() {
		if(localStorage.ChartingIntentionsOther == null || typeof localStorage.ChartingIntentionsOther == "undefined"){
			$('#cb4').attr("placeholder", "Other...");
		} else {
			
			$('#cb4').val(localStorage.getItem("ChartingIntentionsOther"));
		}

		if(localStorage.getItem("ChartingIntentionsChecked") == null || typeof localStorage.getItem("ChartingIntentionsChecked") == "undefined") {
			
		} else {
			var checked = JSON.parse(localStorage.getItem("ChartingIntentionsChecked"));
			for(var i = 0; i < checked.length; i++) {
				$('#'+checked[i]).attr('checked', true);
			}
		}
	}
	</script>
</div>