<div data-role="page" data-theme="c">
	<div data-role="header" data-position="fixed" data-id="persistentHeader">
		<a data-role="button" data-theme="c" data-icon="back" data-rel="back" data-iconpos="notext"></a>
		<h3>Marital Status</h3>
		<a onClick="saveMaritalStatus();" data-role="button" data-theme="b" data-icon="check" data-rel="back">Save</a>
	</div>
	<div data-role="content">
			<fieldset data-role="controlgroup">
			
			<legend><b>Marital Status</b></legend>
				<input type="radio" name="radio-choice-1" id="radio-choice-1" value="choice-1" class="maritalList"/>
				<label for="radio-choice-1">Single</label>

				<input type="radio" name="radio-choice-1" id="radio-choice-2" value="choice-2" class="maritalList" />
				<label for="radio-choice-2">Married</label>
			</fieldset>
	</div>
	<div data-role="footer" data-position="fixed" data-id="persistentFooter">
		<div data-role="navbar">
			<ul>
				<li><a href="calendarHomeView.html" data-icon="grid">Calendar View</a></li>
				<li><a href="#" class="ui-btn-active ui-state-persist" data-icon="gear">Settings</a></li>				
			</ul>
		</div>
	</div>
	<script>
	$(document).ready(function() {
		reCheckStatus();
	});
	function saveMaritalStatus() {
		var checked = $('.maritalList:checked').attr('id');
		localStorage.setItem("MaritalStatusChecked",checked);
	}
	function reCheckStatus() {
		if(localStorage.getItem("MaritalStatusChecked") == null || typeof localStorage.getItem("MaritalStatusChecked") == "undefined") {
			
		} else {
			$('#'+localStorage.getItem("MaritalStatusChecked")).attr('checked', true);
		}
	}
	</script>
</div>