<div data-role="page" data-theme="c">
	<div data-role="header" data-position="fixed" data-id="persistentHeader">
		<a data-role="button" data-theme="c" data-icon="back" data-rel="back" data-iconpos="notext"></a>
		<h3>Email</h3>
		<a onClick="saveEmail();" data-role="button" data-theme="b" data-icon="check" data-rel="back">Save</a>
	</div>
	<div data-role="content">
		<label for="partnerEmail"><b>Partner's Email Address</b></label>
		<input type="email" id="partnerEmail" />
	</div>
	<div data-role="footer" data-position="fixed" data-id="persistentFooter">
		<div data-role="navbar">
			<ul>
				<li><a href="calendarHomeView.html" data-icon="grid">Calendar View</a></li>
				<li><a href="#" class="ui-btn-active ui-state-persist" data-icon="gear">Settings</a></li>				
			</ul>
		</div>
	</div>
	<script>
		$(document).ready(function(){
			if(localStorage.SavedPartnerEmail == null || typeof localStorage.SavedPartnerEmail == "undefined"){
			}
			else{
				$('#partnerEmail').val(localStorage.SavedPartnerEmail);
			}
		});
		
		function saveEmail(){
			localStorage.setItem("SavedPartnerEmail", $('#partnerEmail').val());
		}
	</script>
</div>