<div data-role="page" data-theme="c">
	<div data-role="header" data-position="fixed" data-id="persistentHeader">		
		<h3>Daily Entry Summary</h3>
		<a onClick="$.mobile.changePage('dailyEntryView.html',{ transition: 'slide'});"data-role="button" data-theme="b" data-icon="check" data-iconpos="right">Done</a>
		<a onclick="$.mobile.changePage('deleteEntryDialog.html', { role: 'dialog' } );" data-icon="delete" data-transition="pop" style="background:red;">Delete</a>
	</div>
	<div data-role="content" style="font-size: 12px;">
		<div>
			<center>
				<a onclick="backDay()" data-icon="arrow-l" data-role="button" data-inline="true" data-iconpos="notext"></a> 
				<h3 style="margin-top:0px;margin-bottom:0px;" class="currentDateDisplay"></h3>
				<a onclick="forwardDay()" data-icon="arrow-r" data-role="button"data-inline="true" data-iconpos="notext"></a>
			</center>
			<a class="infoIconByDate" onclick="$.mobile.changePage('infoSummarize.html', { role: 'dialog' } );" data-role="button" data-rel="dialog" data-icon="info" data-mini="true" data-inline="true" data-iconpos="notext"></a>
		</div>
		<table style="width: 100%">
			<td style="width: 30%;vertical-align: top;">
				<ul id="stamps" data-role="listview" data-inset="true">
					
					<!--<li><center><img src='../images/MucusStamps/MS1.png' /></center></li>-->
				</ul>
			</td>
			<td style="width: 100%;">
				<h3>Sensation</h3>
				<ul class="sensation" data-role="listview" id="sensation" data-inset="true">
				</ul>
				<h3>Physical State</h3>
				<ul class="physicalState" data-role="listview" id="physicalState" data-inset="true">
				</ul>
				<h3>Emotional State</h3>
				<ul class="emotionalState" data-role="listview" id="emotionalState" data-inset="true">
				</ul>
				<h3>Experience</h3>
				<ul class="experience" data-role="listview" id="experience" data-inset="true">
				</ul>
				<h3>Acts of Affection</h3>
				<ul class="affection" data-role="listview" id="affection" data-inset="true">
				</ul>	
			</td>
		</table>
		
	</div>
	<script>
			var emotionalList = null;
			var experienceList = null;
			var sensationList = null; 
			var physicalStateList = null;
			var affectionList = null;
			var embraceList = null;
			var cycleStampID = null;
			var mucusStampID = null;
			var emotionalStateOtherField = null;
			var experienceOtherField = null;
			var sensationNotesField = null;
			var physicalStateOtherField = null;
			var actsOfAffectionOtherField = null;
			var maritalEmbraceOtherField = null;

		$(document).ready(function(){
			
			summarize();
		});	
		function summarize() {
			if(localStorage[localStorage.currentObservationId + "emotionalStateOtherField"] != null) {
				emotionalStateOtherField = localStorage[localStorage.currentObservationId + "emotionalStateOtherField"];
			}
			if(localStorage[localStorage.currentObservationId + "experienceOtherField"] != null) {
				experienceOtherField = localStorage[localStorage.currentObservationId + "experienceOtherField"];
			}
			if(localStorage[localStorage.currentObservationId + "sensationNotesField"] != null) {
				sensationNotesField = localStorage[localStorage.currentObservationId + "sensationNotesField"];
			}
			if(localStorage[localStorage.currentObservationId + "physicalStateOtherField"] != null) {
				physicalStateOtherField = localStorage[localStorage.currentObservationId + "physicalStateOtherField"];
			}
			if(localStorage[localStorage.currentObservationId + "actsOfAffectionOtherField"] != null) {
				actsOfAffectionOtherField = localStorage[localStorage.currentObservationId + "actsOfAffectionOtherField"];
			}
			if(localStorage[localStorage.currentObservationId + "maritalEmbraceOtherField"] != null) {
				maritalEmbraceOtherField = localStorage[localStorage.currentObservationId + "maritalEmbraceOtherField"];
			}
			if(localStorage[localStorage.currentObservationId + "CycleStamp"] != null) {
				cycleStampID = localStorage[localStorage.currentObservationId + "CycleStamp"];
			}
			if( localStorage[localStorage.currentObservationId + "MucusStamp"]) {
				mucusStampID = localStorage[localStorage.currentObservationId + "MucusStamp"];
			}
			$('#stamps').empty();
			var htmlstr = "";
				htmlstr += '<li data-role="list-divider" data-theme="c">Cycle Stamp</li>';
			if(cycleStampID != null && typeof cycleStampID != "undefined") {
				htmlstr += '<li><center><img src="../images/CycleStamps/'+cycleStampID.toUpperCase()+'.png "/></center></li>';
			}
			$('#stamps').append(htmlstr);
				htmlstr = "";
				htmlstr += '<li data-role="list-divider" data-theme="c">Mucus Stamp</li>';
			if(mucusStampID != null && typeof mucusStampID != "undefined") {
				htmlstr += '<li><center><img src="../images/MucusStamps/'+mucusStampID.toUpperCase()+'.png "/></center></li>';
				
			}
			$('#stamps').append(htmlstr);
			
			if(localStorage[localStorage.currentObservationId + "emotionalList"] != null ) {

				emotionalList = JSON.parse(localStorage[localStorage.currentObservationId + "emotionalList"]);
			}
			if(localStorage[localStorage.currentObservationId + "experienceList"] != null) {
				experienceList = JSON.parse(localStorage[localStorage.currentObservationId + "experienceList"]);
			}
			if(localStorage[localStorage.currentObservationId + "sensationList"] != null) {
				sensationList = JSON.parse(localStorage[localStorage.currentObservationId + "sensationList"]);
			}
			if(localStorage[localStorage.currentObservationId + "physicalStateList"] != null) {
				physicalStateList = JSON.parse(localStorage[localStorage.currentObservationId + "physicalStateList"]);
			}
			if(localStorage[localStorage.currentObservationId + "affectionList"] != null) {
				affectionList = JSON.parse(localStorage[localStorage.currentObservationId + "affectionList"]);
			}
			if(localStorage[localStorage.currentObservationId + "embraceListChecked"] != null) {
				var embraceList = JSON.parse(localStorage[localStorage.currentObservationId + "embraceList"]);
			}

			$('#emotionalState').empty();
			var ul = $('ul.emotionalState');
			if(emotionalList != null) {
			$.each(emotionalList, function(i, value) {
				var li = $('<li>').append(value);
				ul.append(li);
			});
			}
			if(emotionalStateOtherField != null) {
				var li = $('<li>').append(emotionalStateOtherField);
				ul.append(li);
			
			}
			

			$('#experience').empty();
			var experience = $('ul.experience');
			if(experienceList != null) {
			$.each(experienceList, function(i, value) {
				var li = $('<li>').append(value);
				experience.append(li);
			});
			}
			if(emotionalStateOtherField != null) {
				var li = $('<li>').append(experienceOtherField);
				experience.append(li);
			
			}
			

			$('#sensation').empty();
			var sensation = $('ul.sensation');
			if(sensationList != null) {
			$.each(sensationList, function(i, value) {
				var li = $('<li>').append(value);
				sensation.append(li);
			}); 
			}
			if(emotionalStateOtherField != null) {
				var li = $('<li>').append(sensationNotesField);
				sensation.append(li);
			}
			
			

			$('#physicalState').empty();
			var physical = $('ul.physicalState');
			if(physicalStateList != null) {
			$.each(physicalStateList, function(i, value) {
				var li = $('<li>').append(value);
				physical.append(li);
			});
			}
			if(emotionalStateOtherField != null) {
				var li = $('<li>').append(physicalStateOtherField);
				physical.append(li);
			} 
			

			$('#affection').empty();
			var affection = $('ul.affection');
			if(affectionList != null) {
			$.each(affectionList, function(i, value) {
				var li = $('<li>').append(value);
				affection.append(li);
			});
			} 
			if(emotionalStateOtherField != null) {
				var li = $('<li>').append(actsOfAffectionOtherField);
				affection.append(li);
			}

		}
		function backDay() {
			var old = moment(localStorage.currentEntryDate);
			old.subtract('days', 1);
			localStorage.currentEntryDate=old;
			localStorage.currentObservationId = ("F" + old.format("MMDDYYYY"));	
			refreshPage();
		}
		function forwardDay() {
			var old = moment(localStorage.currentEntryDate);
			old.add('days', 1);
			localStorage.currentEntryDate=old;
			localStorage.currentObservationId = ("F" + old.format("MMDDYYYY"));
			refreshPage();
		}
		function refreshPage() {
  			emotionalList = null;
			experienceList = null;
			sensationList = null; 
			physicalStateList = null;
			affectionList = null;
			embraceList = null;
			emotionalList = null;
			mucusStampID = null;
			cycleStampID = null;
			emotionalStateOtherField = null;
			experienceOtherField = null;
			sensationNotesField = null;
			physicalStateOtherField = null;
			actsOfAffectionOtherField = null;
			maritalEmbraceOtherField = null;
  			summarize();
  			$('#affection').listview("refresh");
  			$('#physicalState').listview("refresh");  
  			$('#sensation').listview("refresh"); 
  			$('#experience').listview("refresh");
  			$('#emotionalState').listview("refresh");  	
  			$('#stamps').listview("refresh");
  			loadDate();
		}
	</script>
	
</div>